{% extends 'base_dasboard.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}


<div class="grps-module">
<h2 class="custom_title">Agent info</h2>
        <table id="result_list_agent" cellspacing="0" class="grp-sortable">

            <tbody>
                    <tr class="grp-row grp-row-even %}">
                    <td>Uid</td>
                    <td>{{ result.uid }}</td>
                    </tr>

                    <tr class="grp-row grp-row-odd %}">
                    <td>Agent Type</td>
                    <td>{{ result.type }}</td>
                    </tr>

                    <tr class="grp-row grp-row-even %}">
                    <td>Ip</td>
                    <td>{{ result.ip }}</td>
                    </tr>

                    <tr class="grp-row grp-row-odd %}">
                    <td>Host</td>
                    <td>{{ result.hostname }}</td>
                    </tr>

                    <tr class="grp-row grp-row-even %}">
                    <td>Country</td>
                    <td>{{ result.country }}</td>
                    </tr>

                    <tr class="grp-row grp-row-odd %}">
                    <td>Created</td>
                    <td>{{ result.created|date:"j/n/Y H:i:s"  }}</td>
                    </tr>

                    <tr class="grp-row grp-row-even %}">
                    <td>Updated</td>
                    <td>{{ result.updated|date:"j/n/Y H:i:s" }}</td>
                    </tr>



            </tbody>
        </table>
    </div>

{% if task_history.all %}
<div class="grps-module">
<h2 class="custom_title">Task History</h2>

        <table id="result_list_agent" cellspacing="0" class="grp-sortable">
            <thead>
                <tr>
                        <th scope="col" >
                            <div class="grp-text"><span>Id</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Name</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Loaded</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Executed</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Created</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Updated</span></div>
                        </th>
                </tr>
            </thead>
            <tbody>
                {% for result in task_history.all %}
                    <tr class="grp-row {% cycle 'grp-row-even' 'grp-row-odd' %}">
                    <td>{{ result.id }}</td>
                    <td>{{ result.name }}</td>
                    <td>{{ result.loaded }}</td>
                    <td>{{ result.executed }}</td>
                    <td>{{ result.created|date:"j/n/Y H:i:s" }}</td>
                    <td>{{ result.updated|date:"j/n/Y H:i:s" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% else %}
{% endif %}


{% if logs.all  %}
<div class="grps-module">
<h2 class="custom_title">Logs</h2>

        <table id="result_list_agent" cellspacing="0" class="grp-sortable">
            <thead>
                <tr>
                        <th scope="col" >
                            <div class="grp-text"><span>Id</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Type</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Uid</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Download</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>View</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Created</span></div>
                        </th>
                </tr>
            </thead>
            <tbody>
                {% for result in logs.all %}
                    <tr class="grp-row {% cycle 'grp-row-even' 'grp-row-odd' %}">
                    <td>{{ result.id }}</td>
                    <td>{{ result.get_type_display }}</td>
                    <td>{{ result.agent }}</td>
                    <td><a href="/{{ result.file }}">Download</a></td>
                    <td>
                    {% if result.type == 2 %}<a href="{% url 'logs_view_list' result.id result.type  %}">View</a>
                    {% else %}
                    <a href="{% url 'logs_view_list' result.id result.type  %}">View</a>
                    {% endif %}
                    </td>
                    <td>{{ result.created|date:"j/n/Y H:i:s" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% else %}
{% endif %}

{% if files.all  %}
<div class="grps-module">
<h2 class="custom_title">Files</h2>

        <table id="result_list_agent" cellspacing="0" class="grp-sortable">
            <thead>
                <tr>
                        <th scope="col" >
                            <div class="grp-text"><span>Id</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Download Link</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Uid</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Name</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Path</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Size</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Created</span></div>
                        </th>
                </tr>
            </thead>
            <tbody>
                {% for result in files.all %}
                    <tr class="grp-row {% cycle 'grp-row-even' 'grp-row-odd' %}">
                    <td>{{ result.id }}</td>
                    <td><a href="{{ result.file }}">Download</a></td>
                    <td>{{ result.agent }}</td>
                    <td>{{ result.name }}</td>
                    <td>{{ result.file }}</td>
                    <td>{{ result.file.size }}</td>
                    <td>{{ result.created|date:"j/n/Y H:i:s" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% else %}
{% endif %}


{% endblock %}