{% extends 'base_dasboard.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% load grp_tags %}
{% spaceless %}
<form enctype="multipart/form-data" action="" method="post" id="task_form">{% csrf_token %}
 <fieldset class="grp-module {{ fieldset.classes }}">
        {% for line in fieldset %}
            <div class="grp-row grp-cells-1{% if errors %} grp-errors{% endif %}">
              {% for field in line %}
                <div class="l-2c-fluid l-d-4">

                            <div class="c-1">
                                <label class="required" for="{{ field.name }}">{{ field.name }}</label></div>
                            <div class="c-2">{{ field }}
                        </div>
                    </div>
              </div>
                  {% endfor %}


        {% endfor %}
    </fieldset>


<footer class="grp-module grp-submit-row grp-fixed-footer">
    <header style="display:none"><h1>Submit Options</h1></header>
    <ul>
            <li class="grp-float-left"><a href="{% url 'delete_task' task.id %}" class="grp-button grp-delete-link">Delete</a></li>
        	<li><button type="submit" value="Save" class="grp-button grp-default" name="_continue">Save</button></li>
    </ul>
</footer>

</form>
{% endspaceless %}
{% endblock %}

