{% extends 'base_dasboard.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% include  'pagination.html' with agent=files %}
{% if files %}
    <div class="grp-module grp-changelist-results">
        <table id="result_list" cellspacing="0" class="grp-sortable">
            <thead>
                <tr>
                        <th scope="col" >
                            <div class="grp-text"><span>Id</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Download Link</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Uid</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Name</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Path</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Size</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Created</span></div>
                        </th>
                        <th scope="col" >
                        </th>
                </tr>
            </thead>
            <tbody>
                {% for result in files %}
                    <tr class="grp-row {% cycle 'grp-row-even' 'grp-row-odd' %}">
                    <td>{{ result.id }}</td>
                    <td><a href="{{ result.file.filename }}">Download</a></td>
                    <td>{{ result.agent }}</td>
                    <td>{{ result.name }}</td>
                    <td>{{ result.file }}</td>
                    <td>{{ result.file.size }}</td>
                    <td>{{ result.created|date:"j/n/Y H:i:s" }}</td>
                    <td><a href="{% url 'delete_files' result.id %}">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

{% endblock %}