{% extends 'base_dasboard.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% include  'pagination.html' with agent=agents %}
{% if agents %}
    <div class="grp-module grp-changelist-results">
        <table id="result_list" cellspacing="0" class="grp-sortable">
            <thead>
                <tr>
                        <th scope="col" >
                            <div class="grp-text"><span>Uid</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Ip</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Host</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Country</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Created</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Updated</span></div>
                        </th>
                </tr>
            </thead>
            <tbody>
                {% for result in agents %}
                    <tr class="grp-row {% cycle 'grp-row-even' 'grp-row-odd' %}">
                    <td><a href="{% url 'agents' result.id %}">{{ result.uid }}</a></td>
                    <td>{{ result.ip }}</td>
                    <td>{{ result.hostname }}</td>
                    <td>{{ result.country }}</td>
                    <td>{{ result.created|date:"j/n/Y H:i:s" }}</td>
                    <td>{{ result.updated|date:"j/n/Y H:i:s" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

{% endblock %}