{% extends 'base_dasboard.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}


<div class="grps-module">
<h2 class="custom_title">Agents have taken away the task</h2>

        <table id="result_list_agent" cellspacing="0" class="grp-sortable">
            <thead>
                <tr>

                        <th scope="col" >
                            <div class="grp-text"><span>Agent</span></div>
                        </th>

                        <th scope="col" >
                            <div class="grp-text"><span>Created</span></div>
                        </th>
                </tr>
            </thead>
            <tbody>
                {% for result in loadeds %}
                    {% if result.status == 0 %}
                    <tr class="grp-row {% cycle 'grp-row-even' 'grp-row-odd' %}">
                    <td>{{ result.agent }}</td>
                    <td>{{ result.created|date:"j/n/Y H:i:s" }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
</div>

<div class="grps-module">
<h2 class="custom_title">Agents perform a task</h2>

        <table id="result_list_agent" cellspacing="0" class="grp-sortable">
            <thead>
                <tr>
                        <th scope="col" >
                            <div class="grp-text"><span>Agent</span></div>
                        </th>

                        <th scope="col" >
                            <div class="grp-text"><span>Created</span></div>
                        </th>
                </tr>
            </thead>
            <tbody>
                {% for result in loadeds %}
                    {% if result.status == 1 %}
                    <tr class="grp-row {% cycle 'grp-row-even' 'grp-row-odd' %}">
                    <td>{{ result.agent }}</td>
                    <td>{{ result.created|date:"j/n/Y H:i:s" }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
</div>





{% endblock %}