{% extends 'base_dasboard.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<div>
<p>ID: {{ log.id }}</p><br>
<p>Type: {{ log.get_type_display }}</p><br>
<p>Uid: {{ log.agent }}</p><br>
<p>Created: {{ log.created|date:"j/n/Y H:i:s" }}</p><br>
{% if log.type == 2 %}
<div class="file_custom_osn">
<p>File list(Select the files to formulate the task):</p>
<form action="{% url 'add_task_file' %}" method="post" id="task_form">{% csrf_token %}
<div class="file_custom_list">
{% for file in files.all %}
    <div>
    <input type="checkbox" name="files" value="{{ file.id }}">
    <label>{{ file.name }}</label></div>
{% endfor %}
</div>
<button type="submit" value="Save" class="grp-button grp-default"  style="width: 50px;" name="_continue">Save</button>
</form>
</div>
{% else %}
<p>Text: <br>{{ log.display_text_file }}</p><br>

{% endif %}
</div>
{% endblock %}
