{% extends 'base_dasboard.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% include  'pagination.html' with agent=logs %}
{% if logs %}
    <div class="grp-module grp-changelist-results">
        <table id="result_list" cellspacing="0" class="grp-sortable">
            <thead>
                <tr>
                        <th scope="col" >
                            <div class="grp-text"><span>Id</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Type</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Uid</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Download</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>View</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Created</span></div>
                        </th>
                        <th scope="col" >
                        </th>
                </tr>
            </thead>
            <tbody>
                {% for result in logs %}



                    <tr class="grp-row {% cycle 'grp-row-even' 'grp-row-odd' %}">
                    <td>{{ result.id }}</td>
                    <td>{{ result.get_type_display }}</td>
                    <td>{{ result.agent }}</td>
                    <td><a href="/{{ result.file }}">Download</a></td>
                    <td>
                    {% if result.type == 2 %}<a href="{% url 'logs_view_list' result.id result.type  %}">View</a>
                    {% else %}
                    <a href="{% url 'logs_view_list' result.id result.type  %}">View</a>
                    {% endif %}
                    </td>
                    <td>{{ result.created|date:"j/n/Y H:i:s" }}</td>
                    <td><a href="{% url 'delete_logs' result.id %}">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

{% endblock %}