 <ul id="gn-menu" class="gn-menu-main">
            <li class="gn-trigger">
              <nav class="gn-menu-wrapper">
                <div class="gn-scroller">
                  <ul class="gn-menu">
                    <li {% if active_menu == 'index' %}class="active"{% endif %}><a href="/" class="gn-icon link-home">Agents</a></li>
                    <li {% if active_menu == 'Tasks' %}class="active"{% endif %}><a href="{% url 'task' %}" class="gn-icon link-pdata">Tasks</a></li>
                    <li {% if active_menu == 'Logs' %}class="active"{% endif %}><a href="{% url 'logs' %}" class="gn-icon link-schedule">Logs</a></li>
                    <li {% if active_menu == 'Files' %}class="active"{% endif %}><a href="{% url 'files' %}" class="gn-icon link-messages">Files</a></li>
                    <li {% if active_menu == 'Settings' %}class="active"{% endif %}><a href="{% url 'settings' %}" class="gn-icon link-reports">Settings</a></li>
                    <li><a href="/admin/logout/" class="gn-icon link-reports">Logout</a></li>
                  </ul>
                </div><!-- /gn-scroller -->
              </nav>
            </li>
          </ul>