<div class="grp-module">
        <div class="grp-row">
            <div class="l-2cr-fluid ">
                    <div class="c-2">
<nav class="grp-pagination"><header style="display:none"><h1>Pagination</h1></header><ul><li class="grp-results"><span>{{ agent|length }} total</span></li></ul></nav>
                    </div>
            </div>
        </div>
 </div>