{% extends 'base_dasboard.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<form enctype="multipart/form-data" action="" method="post" id="task_form">{% csrf_token %}
    {% for setting in settings %}
<label>{{ setting.key }}</label>
    <input value="{{ setting.value }}" name="number"><br><br>
    {% endfor %}
<button type="submit" value="Save" class="grp-button grp-default"  style="width: 50px;" name="_continue">Save</button>
</form>
{% endblock %}