{% extends 'base_dasboard.html' %}
{% block title %}{{ title }}{% endblock %}
{% block add_task %}
<ul class="grp-object-tools">
<li><a href="{% url 'add_task' %}" class="addlink">Add Task</a></li>
</ul>
{% endblock %}
{% block content %}
{% include  'pagination.html' with agent=tasks %}
{% if tasks %}
    <div class="grp-module grp-changelist-results">
        <table id="result_list" cellspacing="0" class="grp-sortable">
            <thead>
                <tr>
                        <th scope="col" >
                            <div class="grp-text"><span>Id</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Name</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Agent Type</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Type</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>GEO</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Uids</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Loaded</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Executed</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Limit</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Created</span></div>
                        </th>
                        <th scope="col" >
                            <div class="grp-text"><span>Updated</span></div>
                        </th>
                        <th scope="col" >
                        </th>
                        <th scope="col" >
                        </th>
                </tr>
            </thead>
            <tbody>
                {% for result in tasks %}
                    <tr class="grp-row {% cycle 'grp-row-even' 'grp-row-odd' %}">
                    <td>{{ result.id }}</td>
                    <td>{{ result.name }}</td>
                    <td>{{ result.agent_type }}</td>
                    <td>{{ result.get_type_display }}</td>
                    <td>{{ result.geo }}</td>
                    <td>{{ result.uids }}</td>
                    <td>{{ result.loaded }}</td>
                    <td>{{ result.executed }}</td>
                    <td>{{ result.limit }}</td>
                    <td>{{ result.created|date:"j/n/Y H:i:s" }}</td>
                    <td>{{ result.updated|date:"j/n/Y H:i:s" }}</td>
                    <td><a href="{% url 'edit_task' result.id %}">Edit</a></td>
                    <td><a href="{% url 'info_task' result.id %}">Info</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

{% endblock %}