#result_list{
width: 100%;
}
#grp-content-menu {
position: relative;
float: left;
clear: both;
top: 80px;
padding: 0 20px 20px;
width: 100%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.gn-menu li a{
color: #444;
background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
background-size: 100%;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #e0e0e0));
background-image: -webkit-linear-gradient(#eeeeee,#e0e0e0);
background-image: -moz-linear-gradient(#eeeeee,#e0e0e0);
background-image: -o-linear-gradient(#eeeeee,#e0e0e0);
background-image: linear-gradient(#eeeeee,#e0e0e0);
display: inline-block;
padding: 4px 8px 4px;
min-width: 60px;
font-size: 11px;
font-weight: bold;
text-align: center;
border: 1px solid rgb(173, 173, 173);

-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.gn-menu li{
list-style-image: none;
list-style-type: none;
margin-left: 0;
white-space: nowrap;
display: inline;
float: left;
padding-left: 0;
padding-right: 0;
margin-right: -1px;
}
.gn-menu li.active a {
background-color: #4fb2d3;
color: white;
border: 1px solid #4fb2d3;
background-image: none;
}
.gn-menu li a:hover {
background-color: #5CBEDF;
color: white;
border: 1px solid #5CBEDF;
background-image: none;
}
.grps-module {
position: relative;
float: left;
clear: both;
width: 100%;
margin: 0 0 5px;
padding: 0;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.custom_title {
margin: 10px 0px 6px 0px;
}
#result_list_agent{
width: 50%;
}
.file_custom_list {
margin: 8px 2px 10px 10px;
}
.file_custom_osn {
background: rgb(234, 234, 234);
padding: 10px;
}