<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form class="form-horizontal" action="/handler" role="form" method="POST" enctype="multipart/form-data" data-submit="test">{% csrf_token %}
 <input  type="text" name="id" size="290">
    <br>
 <input  type="text" name="type" size="290">
   <br>
 <input  type="text" name="type_task" size="290">
   <br>
 <input  type="text" name="somedata" size="290">
   <br>
 <input  type="text" name="data" size="290">
   <br>
 <input type="file" name="datau">

    <button type="submit" class="t_submit">GO >></button>
</form>
</body>
</html>